@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

*,
html {
  @apply cursor-none;
}

body {
  @apply bg-gray-200;
}

@layer components {
  button:active {
    @apply transform scale-95;
  }

  button:focus {
    @apply outline-none;
  }

  button {
    @apply transition-transform duration-200 ease-in-out;
  }
}

@layer utilities {
  .content {
    @apply max-w-[1352px] mx-auto small:px-8;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-full {
    @apply w-full h-full absolute top-0 left-0;
  }

  .fixed-full {
    @apply w-full h-full fixed top-0 left-0;
  }

  .text-balance {
    text-wrap: balance;
  }

  .unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .undraggable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .stroke-2 {
    text-shadow: 0 0 0.25rem #000, 0 0 0.25rem #000, 0 0 0.25rem #000,
      0 0 0.25rem #000;
  }

  .hard-shadow-text {
    transition: all 0.2s;
    text-shadow: 2px 2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000,
      -2px -2px 0px #000, 3px 5px 0rem #000, 6px 5px 0rem #000;
  }

  .hard-shadow-text:hover {
    text-shadow: 2px 2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000,
      -2px -2px 0px #000, 2px 2px 0rem #000;
  }

  .hard-shadow-filter {
    filter: drop-shadow(2px 2px 0px #000) drop-shadow(2px -2px 0px #000)
      drop-shadow(-2px 2px 0px #000) drop-shadow(-2px -2px 0px #000)
      drop-shadow(3px 5px 0rem #000);
  }

  .hard-shadow-filter.button:hover {
    filter: drop-shadow(1px 1px 0px #000) drop-shadow(1px -1px 0px #000)
      drop-shadow(-1px 1px 0px #000) drop-shadow(-1px -1px 0px #000)
      drop-shadow(1px 1px 0rem #000) brightness(1.1);
  }

  .hard-shadow {
    box-shadow: 8px 8px 0px 0px #000;
  }
}

.section *::-webkit-scrollbar {
  display: none;
}
.section * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cursor {
  transition: width 0.2s, height 0.2s, background-color 0.2s, border-radius 0.2s;
}

.cursor.hovered {
  @apply w-32 h-32;
}
