@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  scroll-behavior: smooth;
}

html, body {
  scroll-snap-type: y mandatory;
}

body{
  @apply bg-gray-200;
}

@layer utilities {
  .content {
    @apply max-w-[1352px] mx-auto;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-full {
    @apply w-full h-full absolute top-0 left-0;
  }

  .fixed-full {
    @apply w-full h-full fixed top-0 left-0;
  }
  
  .text-balance {
    text-wrap: balance;
  }

  .unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .undraggable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .stroke-2{
    text-shadow: 0 0 0.25rem #000, 0 0 0.25rem #000, 0 0 0.25rem #000, 0 0 0.25rem #000;
  }
}
